/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*************
* Our Styles *
*************/

/* font import */
/* import the "Bebas Neue" font. */

h1, h2, h3, #header ul li a {
	font-family: 'Bebas Neue';
}

/* general styles */
a {
	text-decoration: none;
}
/* background */
html {
	height: 100%;
	min-height: 100%;
}
body {
	height: 100%;
}
#wrapper {
	height: 100%;
	background: url(../img/skyline_hi-res.png) no-repeat center;
	background-size: cover;
	overflow: scroll;
	min-width: 960px;
}

/* content area */
#content {
	width: 960px;
	margin: 0 auto;
}

/* header */
#logo {
	font-size: 64px;
	float: left;
}
#logo a {
	color: #F2EBD5;
}
#logo span {
	color: #BFB895;
}
#header {
	overflow: hidden;
	margin: 20px 0;
}
#header ul {
	float: right;
	overflow: hidden;
	position: relative;
}
#header ul li {
	float: left;
	margin-right: 25px;
}
#header ul li.last {
	margin-right: 0;
}
#header ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	line-height: 77px;
	display: block;
}

/* main content */

#content #main {
	/* 
	  I could have achieved a similar effect with the 'opacity' property,
	  but then all the children would have had an opacity of .9, as well.
	  Note that this won't work in ie8 and below.
	*/
	background-color: rgba(255,255,255,.9);

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 40px;
	padding: 30px;
	color: #333;
}

#content #main h2 {
	font-size: 32px;
}
#content #main h2 span {
	color: #8B8C80;
}
#content #main h3 {
	margin-top: 30px;
	font-size: 24px;
	margin-bottom: 5px;
}

/* slideshow */
#slideshow-container ul {
	position: relative;
}
#slideshow-container li {

}
#slideshow-container li.active {
	display: block;
	z-index: 5;
}
#slideshow-container li img {
	width: 900px;
	height: 500px;
	display: block;
}
#slideshow-container li .caption {
	line-height: 50px;
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	text-indent: 10px;
}